*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
html{
    font-size: 62.5%;
}
body {
    font-size: 1.6 rem;
}
.container {
    border: 0.3rem solid black;
    display: flex;
    /*flex-direction: column; /*Aquí le decimos al display en qué dirección se va a mostrar*/
    /*flex-wrap: wrap;*/
    justify-content:space-around;
    
 }
.box{
    width: 10rem;
    height: 10rem;
}
.box1 {
    background-color: aqua;
}
.box2 {
    background-color: rgb(89, 0, 255);
}
.box3 {
    background-color: rgb(38, 0, 255);
}
.box4 {
    background-color: rgb(0, 255, 34);
}
.box5 {
    background-color: rgb(255, 0, 85);
}
.box6 {
    background-color: rgb(255, 0, 157);
}